<!DOCTYPE html> 
<html lang="en"> 
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-JW0PWVNX6L"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-JW0PWVNX6L');
        </script>

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2689521710686108"
        crossorigin="anonymous"></script>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Sayed Hisham - Technology Consultant</title>

        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="../css/metisMenu.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="../css/startmin.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- Timeline CSS -->
        <link href="../css/timeline.css" rel="stylesheet">

        <!-- toast CSS -->
        <link href="../css/toast.min.css" rel="stylesheet">

        <!--Vue.js-->
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        

        <!--toast js-->

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            body {
                padding-right:2%;
                padding-left:2%;
                /* background-image:url(../images/bg_image1211.jpg); */
            }
            img.center responsive {
                display: block;
                margin: 0 auto;
            }
        </style>
        <style>
            .responsive
            {
                max-width: 100%;
                height: auto;
            }
            .job-title{
                font-size:17px;
                padding-left:19px;
                list-style-type: square;
                color: #337ab7;
            }
            
            
        

        .buttonTab {
            border: white 1px solid;
        
        }
        @keyframes glowing {
            0% {
                border: white 1px solid;
            }
            50% {
                border: rgb(155, 162, 185) 1px solid;
            }
            100% {
                border: rgb(58, 146, 187) 1px solid;
            }
        }
        .buttonTab {
            animation: glowing 1300ms infinite;
            
        }
        
        </style>
    </head>
    <body>
        
        
        <br>
        
        <div class="row">
            <div class="col-sm-3">
                <div class="hero-widget well well-sm" >
                    <div class="icon">
                        <img src='../images/dp_pic.jpg' height=200px width=160px style="border-radius: 25px;"/>
                    </div>
                    <div class="text">
                        <label class="text-muted">Sayed Hisham</label>
                        <br>
                        <span>Analyst | Technology Consultant | Healthcare</span>
                    </div>
                </div>
            </div>
            <div class='col-lg-9'>
                <div class="panel panel-info" >
                    <div class="panel-heading">
                        About
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-pills">
                            <li class="active"><a href="#home-pills" data-toggle="tab" class="buttonTab">Intro</a>
                            </li>
                            
                            <li><a href="#profile-pills" data-toggle="tab" class="buttonTab">Skills</a>
                                
                            </li>
                            <li><a href="#messages-pills" data-toggle="tab" class="buttonTab">Qualifications</a>
                            </li>
                            <li><a href="#nav-pills" data-toggle="tab" class="buttonTab">Navigate</a>
                                
                            </li>
                            
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="home-pills">
                                <h4>Hi, Thanks for stopping by!</h4>
                                <p>I am an analyst with academic qualification in Healthcare. I love statistics and I code to build things that are useful for business.  I am trained and certified, as well as self-taught in various fields such as Quantitative research, Data Analytics, web development, and Machine Learning. I am mostly driven by curiosity to learn. </p>
                                <br>
                                <p>Beyond this, I am an avid sudoku player, voracious reader, and love jumb roping, swimming and coding.</p>
                            </div>
                            <div class="tab-pane fade" id="profile-pills">
                                <br>
                                <li>Technical Design, Architecture and Development of Software Solutions and IT systems for Enterprises.
                                    <em class='text-success'>(QMS, Einvoicing System, APM etc)</em>
                                </li>
                                <li>Data Analytics <em class='text-success'>(Python, MS Excel, Power BI)</em></li>
                                <li>Applied Statistics</li>
                                <li>Quantitative Research <em><a href="https://www.semanticscholar.org/author/S.-Hisham/66469507" target="_blank">(Five SCI-indexed publications</a>)</em></li>
                                <li>Machine Learning</li>
                            </div>
                            <div class="tab-pane fade" id="messages-pills">
                                <br>
                                <li><a href="https://coursera.org/verify/professional-cert/5ADHHRL865WG" target="_blank">Applied Data Science Specialist (IBM)</a></li>
                                <li>Gold Medalist (Best outgoing student, MCOAHS, Manipal University)</li>
                                <li><a href="https://www.semanticscholar.org/author/S.-Hisham/66469507" target="_blank">
                                    Five Research work Scopus Indexed International journals.</a>
                                </li>
                                <li>IASSC Lean Six Sigma Green Belt (Anexas Europe)</li>
                                <li>
                                    <a href="https://coursera.org/verify/N6A9YYY3SCZF" target="_blank">
                                        Data Analytics in Lean Six Sigma Certification (University of Amsterdam)
                                    </a>
                                </li>
                                <li>
                                    <a href="https://coursera.org/verify/specialization/26YHTMQEKYSW" target="_blank">
                                        Business Analytics Certification (Rice University)
                                    </a>
                                </li>
                            </div>
                            <div class="tab-pane fade" id="nav-pills">
                                <h4>Press Link to Navigate</h4>
                                <ul>
                                    <li><small><a href="#" class='intLink' id=workPortfolio_Master>Work Porfolio</a></small>
                                        <ul>
                                            <li><small><a href="#" class='intLink' id=BUPAConsultant_Index>My Time at Bupa Arabia as Technology Consultant</a></small></li>
                                            <li><small><a href="#" class='intLink' id=BMHAnalytics_Index>My Time at BMH in Analytics</a></small></li>
                                            <li><small><a href="#" class='intLink' id=BMHOperations_Index>My Time at BMH in Operations</a></small></li>
                                            <li><small><a href="#" class='intLink' id=BMHTrainee_Index>My Time at BMH as Trainee</a></small></li>
                                            <li><small><a href="#" class='intLink' id=intern_Index>My Time as Intern</a></small></li>
                                            <li><small><a href="#" class='intLink' id='ITConsulting_Index'>My Analytics and IT consulting Works</a></small></li>
                                        </ul>
                                    </li>
                                    <li><small><a href="#" class='intLink' id='recognitions_Index'>Recognitions and Involvements</a></small></li>
                                    <li><small><a href="#" class='intLink' id='qualifications_Index'>Academic Qualification and Education</a></small></li>
                                    <li><small><a href="#" class='intLink' id='recommendations_Index'>Recommendations and Testimonials</a></small></li>
                                    <li><small><a href="#" class='intLink' id='timeline_Index'>My Timeline</a></small></li>

                                </ul>
                            </div>
                            
                        </div>
                    </div>
                    <!-- /.panel-body -->
                    <div class="panel-footer text-right">
                        <a href="https://www.linkedin.com/in/sayed-hisham/" target="_blank"><button class='btn btn-primary btn-sm'><i class="fa fa-linkedin-square fa-fw"></i>LinkedIn</button></a> |
                        <a href="https://www.github.com/hisham2k9" target="_blank"><button class='btn btn-primary btn-sm' style="background-color:black;"><i class="fa fa-github-square fa-fw"></i>GitHub</button></a> |
                        <a href="mailto:'hisham2k9@gmail.com" ><button class='btn btn-warning btn-sm' id='emailButton' ><i class="fa fa-envelope-o fa-fw"></i>Email</button></a>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class='row'>
            
            <div class='col-lg-6'>
                <div class='row'>
                    <div class='col-lg-12'>
                        <div class='panel panel-success'>
                            <div  id=workPortfolio class='panel-heading'>
                                Work PortFolio
                            </div>
                            <div id=portfolioObject class="panel-body">
                                <div v-for="item in workList">
                                    <ul v-if="item.isTitle=='TRUE'" class="job-title"><b  ><li v-bind:id=item.id  v-html="span(item.content)"></li></b></ul>
                                    <ul v-else >
                                        <li v-bind:id=item.id v-html="span(item.content)"></li>
                                        <div v-if="item.images[0] !=''">
                                            <img v-for="image in item.images" v-bind:src="image" height=150px width=410px class='center  responsive'>
                                            <br>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div>
                <div class='row'>
                    <div class='col-lg-12'>
                        <div class='panel panel-success'>
                            <div class='panel-heading' id=recognitions>
                                Recognitions and Involvements
                            </div>
                            
                            <div class='panel-body'>
                                <ul>
                                    <li><b>Gold Medal</b>: Best outgoing student, School of Allied Health Sciences, Manipal, MAHE.
                                    </li>
                                    <li><b><a href="https://www.credly.com/users/sayed-hisham/badges" target="_blank">Six Badges</a></b> from IBM for Skills in Data Science & Machine learning.
                                    </li>
                                    <li><b><a href="https://www.semanticscholar.org/author/S.-Hisham/66469507" target="_blank">Four Research works</a></b> in Peer Reviewed Scopus Indexed International journals <em class='text-success'>(Three of them as first author)</em>.
                                        <ul>
                                            <li>
                                                <em>
                                                    Awareness of Medico-Legal Aspects & Documentation amongst Health Professionals– (Medico-legal Update)
                                                </em>
                                            </li>
                                            <li>
                                                <em>
                                                    Assessment of healthcare systems across BRICS nations, what India can learn from the rest? – (JCDR)
                                                </em>
                                            </li>
                                            <li>
                                                <em>
                                                    Application of Predictive Modelling to improve Discharge Process – (Healthcare Informatics Research)
                                                </em>
                                            </li>
                                            <li>
                                                <em>
                                                    Healthcare Delivery Through Telemedicine During Covid-19 Pandemic: A Case Study – (Hospital Topics)
                                                </em>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>Served as Member, at <b>Voluntary Service Organization (VSO)</b>, Manipal.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>   
                </div>
                <div class='row'>
                    <div class='col-lg-12'>
                        <div class='panel panel-success'>
                            <div class='panel-heading' id="qualifications">
                                Academic Qualification & Certifications
                            </div>
                            <div class='panel-body'>
                                <ul>
                                    <li><b><em>Master of Hospital Administration,</em></b> Department of Public Health, Manipal, MAHE (CGPA = 8.9 of 10).
                                    </li>
                                    <li><b><em><a href="https://coursera.org/verify/professional-cert/5ADHHRL865WG" target="_blank">Applied Data Science Specialist</a></em></b>- (39-weeks Professional Certification Program by IBM).
                                    </li>
                                    <li><b><em>BSc in Health Information Administration,</em></b> Manipal College of Health Professions, MAHE (CGPA = 9.3 of 10).
                                    </li>
                                    <li><b><em><a href="https://coursera.org/verify/N6A9YYY3SCZF" target="_blank">Data Analytics in Lean Six Sigma Certification</a></em></b> (Certificate Course), University of Amsterdam (Coursera Platform).
                                    </li>
                                    <li><b><em><a href="https://coursera.org/verify/specialization/79M2L27HMKLB" target="_blank">Financial Management Specialisation,</a></em></b> IMBA Program, University of Illinois, (Coursera Platform).
                                    </li>
                                    <li><b><em><a href="https://coursera.org/verify/specialization/26YHTMQEKYSW" target="_blank">Business statistics and Analysis,</a></em></b> (Certificate course), Rice University, (Coursera Platform).
                                    </li>
                                    <li><b><em>Lean Six Sigma Green belt</em></b> from Anexas Europe.
                                    </li>
                                    <li><b><em>Class 10 and 12</em></b> from International Indian School Jeddah, Kingdom of Saudi Arabia (CBSE, 88.4%).
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>   
                </div>
                <div class='row'>
                    <div class='col-lg-12'>
                        <div class='panel panel-success'>
                            <div class='panel-heading' id='recommendations'>
                                Recommendations
                            </div>
                            
                            <div class='panel-body'>
                                <div class='panel panel-warning'>
                                    <p><em>"Sayed Hisham has been working directly with me for the last 2 years and during this period he had developed a full fledged IT system for efficient and effective management of health care quality in the hospital. He had self learned the programming languages & tools, analysed the requirements, designed the system, coded, tested and rolled out the various modules over a period, with minimal supervision. He is an avid learner and his analytical skills are commendable. He is keen to learn new things and take up challenges. He is very systematic in analysing & solving problems and proficient in analytical tools."</em></p>
                                    <p class="text-right">-Mr. Saji Mathew, COO, Baby Memorial Hospital,
                                        <br>
                                        <a href="https://www.linkedin.com/in/sayed-hisham/" target="_blank"><button class='btn btn-primary'>Source: <i class="fa fa-linkedin-square fa-fw"></i>LinkedIn</button></a>
                                    </p>
                                </div>
                            </div>
                            <div class='panel-body'>
                                <div class='panel panel-warning'>
                                    <p><em>"I know Sayed Hisham ever since he has been working at our Organization. He is a very talented academician and good organizer. When given tasks or projects, he diligently works on it and completes it on time to the satisfaction of all concerned. He is a good teacher too and is able to get across his points to the audience clearly and explicitly. His interpersonal relationships are excellent and he is quiet and soft spoken with good communication skills. His character and conduct are above reproach"</em></p>
                                    <p class="text-right">-Dr. Sahasranam K V, Chief of Medical Services, Baby Memorial Hospital,
                                        <br>
                                        <a href="https://www.linkedin.com/in/sayed-hisham/" target="_blank"><button class='btn btn-primary'>Source: <i class="fa fa-linkedin-square fa-fw"></i>LinkedIn</button></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
            <div class='col-lg-6'>
                <div class="panel panel-danger">
                    <div  class="panel-heading">
                        <i id="timeline" class="fa fa-clock-o fa-fw"></i>Timeline
                        <div class='text-right'>
                            <button class='btn btn-primary btn-sm ' id='beginningButton'style="position:relative; bottom:15px;">Read from Beginning</button>
                        </div>
                    </div>
                    
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <ul class="timeline"  id=timelineObj>
                            <li v-for="item in datalist" class='' v-bind:class="{ 'timeline-inverted': item.inverted}">
                                <div v-bind:class="`${item.color}` + staticClass">
                                    <i v-bind:class="`${item.icon}`" ></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">{{item.title}}</h4>

                                        <p>
                                            <small class="text-muted"><i class="fa fa-calendar"></i> {{item.date}}
                                            </small>
                                        </p>
                                    </div>
                                    <div class="timeline-body">
                                        <p v-html="span(item.text)" ></p>
                                    </div>
                                </div>
                            </li>
                            
                        </ul>
                        <em class='text-danger' id="scrollTimeline">*Scroll Up to go through timeline!</em>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
        <div style="position: fixed; bottom: 20px; right: 20px; opacity:60%;">
            <a href="#top"><button class="btn btn-primary" ><i class="fa fa-arrow-circle-o-up fa-fw"></i>Scroll To Top</button></a>
            
        </div>
        

        <!-- jQuery -->
        <script src="../js/jquery.min.js"></script>

        <!-- popper -->
        <script src="../js/popper.min.js"></script>


        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="../js/metisMenu.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="../js/startmin.js"></script>
        
        <!--toast js-->
        <script src="../js/toast.min.js"></script>
        
        <!--jQuery CSV-->
        <script type="text/javascript" src="../js/jquery.csv.min.js"></script>


        <!--scroll to top-->
        <script>
            $("a[href='#top']").click(function() {
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
                });
        </script>

        <!--intLink-->
        <script>
            $('.intLink').click(function()
            {
                
                var id="#"+$(this).attr('id').split('_')[0];
                try{
                    $("html, body").animate({scrollTop:$(id).offset().top},"slow");
                }
                catch(err)
                {
                    alert('could not find the heading!');
                }
                

            });
        </script>
        <script>
            $('#beginningButton').click(function()
            {
                
                $("html, body").animate({scrollTop:$("#scrollTimeline").offset().top},"slow");
                var y = $(window).scrollTop();
                $(window).scrollTop(y-150);
                
                
                

            });
        </script>

        <script>
            //Vue component handling portfolio
            var portfolio = new Vue(
                {
                    el:"#portfolioObject",
                    data:{
                        workList:[]
                    },
                    methods:
                    {
                        span(text) 
                        {
                            return `<span> ${text} </span>`
                    
                        }
                
                    }
                }
            )
            //vue component handling timeline
            var timeline=new Vue(
                {
                    el: '#timelineObj',
                    data:
                    {
                        datalist:[],
                        badgeColor:['info','primary','success','warning','danger'],
                        staticClass:" timeline-badge",
                    },
                    methods:
                    {
                        span(text) 
                        {
                            return `<span> ${text} </span>`
                    
                        }
                
                    }
                }

            )
            Array.prototype.random = function () 
            {
                return this[Math.floor((Math.random()*this.length))];
            }
            function getPortfolio()
            {
                var csvUrl="https://raw.githubusercontent.com/hisham2k9/hisham2k9.github.io/master/portfolioData.csv";
                // csvUrl="../portfolioData.csv";
                $.ajax({
                    type: "GET",
                    url: csvUrl,
                    dataType: "text",
                    success: function(data) {
                        console.log('portfolio response');
                        var dic=new Object;
                        var ls=[];
                        s=$.csv.toArrays(data);
                        var j = 0;

                        for(let i=1; i<s.length;i++)
                        {
                            dic=new Object;
                            dic["id"] = s[i][0];
                            dic["content"]=s[i][1];
                            dic["isTitle"]=s[i][2];
                            dic["images"]=s[i][3].split(",");
                            ls.push(dic);
                        }
                        portfolio.workList=ls;
                    }
                });


            }
            function getTimeLine()
            {
                var csvUrl="https://raw.githubusercontent.com/hisham2k9/hisham2k9.github.io/master/profileData.csv";
                //csvUrl="../profileData.csv";
                $.ajax({
                    type: "GET",
                    url: csvUrl,
                    dataType: "text",
                    success: function(data) {
                        console.log('response');
                        //console.log(data);
                        var dic=new Object;
                        var ls=[];
                        s=$.csv.toArrays(data);
                        //console.log(s);
                        var j = 0;
                        var inverted=false
                        for(let i=s.length-1;i>=1;i--)
                        {
                            //dic['slno']=s[i][0];
                            
                            dic=new Object;
                            //console.log(s[i-1]);
                            dic['last']=false;
                            if (i==2)
                            {
                                dic['last']=true;
                            }
                            dic['title']=s[i][1];
                            dic['icon']=s[i][2];
                            dic['date']=s[i][3];
                            dic['text']=s[i][4];
                            dic['inverted']=inverted;
                            if(inverted==true){inverted=false}else{inverted=true};
                            if (j<4)
                            {
                                j=j+1
                            }
                            else
                            {
                                j=0
                            }
                            dic['color']=timeline.badgeColor[j]; //timeline.badgeColor[Math.floor(Math.random()*timeline.badgeColor)];
                            //console.log(dic);
                            ls.push(dic);
                        }
                        timeline.datalist=ls;
                    }
                });
                //var t='';
                
            }

            $(document).ready(function()
            {
                getTimeLine();
                getPortfolio();
            });
   
        </script>

        <!--copyto clipboard-->
        <script>
            function copyTextToClipboard(text) 
            {
                var textArea = document.createElement("textarea");

                //
                // *** This styling is an extra step which is likely not required. ***
                //
                // Why is it here? To ensure:
                // 1. the element is able to have focus and selection.
                // 2. if the element was to flash render it has minimal visual impact.
                // 3. less flakyness with selection and copying which **might** occur if
                //    the textarea element is not visible.
                //
                // The likelihood is the element won't even render, not even a
                // flash, so some of these are just precautions. However in
                // Internet Explorer the element is visible whilst the popup
                // box asking the user for permission for the web page to
                // copy to the clipboard.
                //

                // Place in the top-left corner of screen regardless of scroll position.
                textArea.style.position = 'fixed';
                textArea.style.top = 0;
                textArea.style.left = 0;

                // Ensure it has a small width and height. Setting to 1px / 1em
                // doesn't work as this gives a negative w/h on some browsers.
                textArea.style.width = '2em';
                textArea.style.height = '2em';

                // We don't need padding, reducing the size if it does flash render.
                textArea.style.padding = 0;

                // Clean up any borders.
                textArea.style.border = 'none';
                textArea.style.outline = 'none';
                textArea.style.boxShadow = 'none';

                // Avoid flash of the white box if rendered for any reason.
                textArea.style.background = 'transparent';


                textArea.value = text;

                document.body.appendChild(textArea);
                textArea.focus();
                textArea.select();

                try {
                    var successful = document.execCommand('copy');
                    var msg = successful ? 'successful' : 'unsuccessful';
                    console.log('Copying text command was ' + msg);
                } catch (err) {
                    console.log('Oops, unable to copy');
                }

                document.body.removeChild(textArea);
                alert("Email Address: '"+text+"' copied to clipboard!")
            }


                var copyEmail = document.querySelector('#emailButton');
               

                copyEmail.addEventListener('click', function(event) 
                {
                copyTextToClipboard('hisham2k9@gmail.com');
                });


                
        </script>

        



    </body>
    <footer class='text-center'>
        <p>Author: Sayed Hisham</p>
        <p>Sayed Hisham Copyright (C) 2021 All rights reserved </a></p>
      </footer>
</html>
